<ion-content [fullscreen]="true">
  <mat-toolbar color="primary"  class="custom-background">
    <mat-toolbar-row>
      <span>
        <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="text-center">Cimenterie de Guinée</span>
    </mat-toolbar-row>
  </mat-toolbar>
<h5 style="text-align: start;">
  Raison sociale:
 Cimenterie de Guinée (CIMGUINÉE)

N°RCCM: 
GN/CON/RCCM/12-B-1097

NIF: 
4000002675

Adresse: 
Km 36, Route de Coyah, Conakry, Guinée

Secteur d'activité: 
Production de ciment

Statut juridique: 
Société Anonyme

Date de création: 
1962

Superficie:
 120 hectares

Localisation (coordonnées GPS): 
9.533333, -13.666667

Catégorie (zone industrielle publique/privée): 
Zone industrielle privée

Données économiques

Nombre d'emplois:
 500 employés (dont 30% de femmes)

Chiffre d'affaires: 
100 millions USD (estimé)

Production mensuelle/annuelle par produit:
Ciment CPJ 32.5R: 60 000 tonnes / 720 000 tonnes
CPA 42.5N: 40 000 tonnes / 480 000 tonnes

Impact économique local:
Création d'emplois indirects (environ 1 500)
Contribution au développement local (infrastructures, services)

Certificats d'autorisation environnementale
Rapports annuels

Contact:
Téléphone: +224......................
Email: [adresse e-mail ]

Site web:
 [[URL ]]
Informations complémentaires:

La Cimenterie de Guinée est la plus grande
cimenterie du pays et représente environ 70% de
la production nationale de ciment.
L'entreprise est certifiée ISO 9001 et ISO 14001.
CIMGUINÉE s'engage dans le développement
durable et mène des actions
 concrètes en matière de protection
de l'environnement et de responsabilité sociale.
</h5>
</ion-content>
