

<ion-content [fullscreen]="true">
  <mat-toolbar color="primary"  class="custom-background">
    <mat-toolbar-row>
      <span>
        <ion-back-button slot="start" defaultHref="/page-distributeurs"></ion-back-button>
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="text-center">Liste des distributeurs</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label><span>Nom:</span> ...............</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><span>L'emplacement:</span> ............</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><span>Secteur d'activité:</span> ............</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
