

<ion-content [fullscreen]="true">
  <mat-toolbar color="primary"  class="custom-background">
    <mat-toolbar-row>
      <span>
        <ion-back-button slot="start" defaultHref="/dncic"></ion-back-button>
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="text-center">Liste des distributeurs</span>
    </mat-toolbar-row>
  </mat-toolbar>


  <div class="section_search">
    <ion-list>
      <ion-item>
        <ion-select
          interface="popover"
          toggleIcon="add"
          expandedIcon="remove"
          aria-label="fruit"
          placeholder="Veuillez sélectionner votre region"
        >
          <ion-select-option value="apples">Region 1</ion-select-option>
          <ion-select-option value="oranges">Region 2</ion-select-option>
          <ion-select-option value="bananas">Region 3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-icon name="filter-outline"></ion-icon>
  </div>

  <ion-card class="title_card" (click)="PageDetailDistributeur()">
    <ion-card-content class="content_card">
      <ion-label class="label">
        <ion-note><span>Nom:</span> ...............</ion-note> <br>
        <ion-note><span>L'emplacement:</span> ............</ion-note> <br>
        <ion-note><span>Secteur d'activité:</span> ............</ion-note> <br>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card class="title_card" (click)="PageDetailDistributeur()">
    <ion-card-content class="content_card">
      <ion-label class="label">
        <ion-note><span>Nom:</span> ...............</ion-note> <br>
        <ion-note><span>L'emplacement:</span> ............</ion-note> <br>
        <ion-note><span>Secteur d'activité:</span> ............</ion-note> <br>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card class="title_card" (click)="PageDetailDistributeur()">
    <ion-card-content class="content_card">
      <ion-label class="label">
        <ion-note><span>Nom:</span> ...............</ion-note> <br>
        <ion-note><span>L'emplacement:</span> ............</ion-note> <br>
        <ion-note><span>Secteur d'activité:</span> ............</ion-note> <br>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card class="title_card" (click)="PageDetailDistributeur()">
    <ion-card-content class="content_card">
      <ion-label class="label">
        <ion-note><span>Nom:</span> ...............</ion-note> <br>
        <ion-note><span>L'emplacement:</span> ............</ion-note> <br>
        <ion-note><span>Secteur d'activité:</span> ............</ion-note> <br>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card class="title_card" (click)="PageDetailDistributeur()">
    <ion-card-content class="content_card">
      <ion-label class="label">
        <ion-note><span>Nom:</span> ...............</ion-note> <br>
        <ion-note><span>L'emplacement:</span> ............</ion-note> <br>
        <ion-note><span>Secteur d'activité:</span> ............</ion-note> <br>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card class="title_card" (click)="PageDetailDistributeur()">
    <ion-card-content class="content_card">
      <ion-label class="label">
        <ion-note><span>Nom:</span> ...............</ion-note> <br>
        <ion-note><span>L'emplacement:</span> ............</ion-note> <br>
        <ion-note><span>Secteur d'activité:</span> ............</ion-note> <br>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card class="title_card" (click)="PageDetailDistributeur()">
    <ion-card-content class="content_card">
      <ion-label class="label">
        <ion-note><span>Nom:</span> ...............</ion-note> <br>
        <ion-note><span>L'emplacement:</span> ............</ion-note> <br>
        <ion-note><span>Secteur d'activité:</span> ............</ion-note> <br>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card class="title_card" (click)="PageDetailDistributeur()">
    <ion-card-content class="content_card">
      <ion-label class="label">
        <ion-note><span>Nom:</span> ...............</ion-note> <br>
        <ion-note><span>L'emplacement:</span> ............</ion-note> <br>
        <ion-note><span>Secteur d'activité:</span> ............</ion-note> <br>
      </ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>
